<div class="myPanel2">
	<h2>Editar Producto</h2>

	<%= render 'form' %>

	<%= link_to 'Mostrar', @product, class: "waves-effect waves-light btn" %> 
	<%= link_to 'Atras', products_path, class: "waves-effect waves-light btn" %>
	
</div>